<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/base.css') }}">
</head>

<body>
    <h1 class="backround">
        <div class="x" style="margin: 570px; padding: -1px;   ">

            <span class="x" style="display: inline-block ; margin-top: -5px; position: relative;top: -75px;">
                <font size="2px" color="white" face="Times New Roman" style="white-space:pre;">身分入口:: </font>
            </span>

            <span class=" x" style="display: inline-block">
                <font size="2 px" color="white" face="Times New Roman" style="white-space:pre;position: relative;top: -37px;left: -70px;">
                    學生&ensp;|&ensp;醫師&ensp;|&ensp;員工&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                </font>
            </span>

            <span class=" x" style="display: inline-block ;">
                <font size="2 px" color="white" face="Times New Roman" style="white-space:pre;position: relative;top: -75px;left: 54px">
                    |&ensp;MyPortal&ensp;|&ensp;疫苗預約&ensp;|&ensp;防疫專區&ensp;|&ensp;English&ensp;|</font>
            </span>



            <span style="pre;position: relative;top: -75px;">

                <img class="imgg" src="{{ url_for('.static', filename='img/LOGO.png') }}" alt="LOLewss" width="300"
                    height="200 ">

            </span>

            <span style="display:inline-block; margin:-10px;margin-left: 10px;position: relative;top: -130px; ">
                <a href="./">
                    <img class="imgg" src="{{ url_for('.static', filename='img/img1.png') }}" alt="LOLewss" width="83"
                        height="16 ">
                </a>
                <!-- 關於中科 -->
            </span>

            <td>&emsp;</td>

            <span style="display:inline-block; margin:-10px;margin-left: 10px;position: relative;top: -130px; ">
                <a href="{{ url_for('.about') }}">
                    <img class="imgg" src="{{ url_for('.static', filename='img/img2.png') }}" alt="LOLewss" width="83"
                        height="16 ">
                </a>
                <!-- 網路預約 -->
            </span>
            
            <td>&emsp;</td>

            <span style="display:inline-block; margin:-10px;margin-left: 10px;position: relative;top: -130px; ">
                <a href="{{ url_for('.search') }}">
                    <img class="imgg" src="{{ url_for('.static', filename='img/img3.png') }}" alt="LOLewss" width="83"
                        height="16 ">
                </a>
                <!-- 掛號查詢 -->
            </span>

            <hr style="display: block;margin-top: -35px;border: 4px solid rgb(230, 230, 230);position: relative;top: -72px;">


            <!-- <span style="position:relative;top: 25px;left: 30px;"><img class="imgg" src="{{ url_for('.static', filename='img/img4.png') }}" alt="LOLewss" width="872"  ></span> -->

            {% block content %}
            {% block body_script %}
            {% endblock %}

        </div>
    </h1>
    
    {% endblock %}
</body>

</html>