{% extends "base.html" %}
{% block content %}
<table border="0" width="872" align="center">
    <tr>
        <!-- <td align="center">123</td> -->
        <!-- <td align="center">456</td> -->
        <td align="center" colspan="3">
            <h6 style="margin: 10px;"></h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期一</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期二</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期三</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期四</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期五</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期六</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期日</h6>
        </td>

    </tr>
    <tr>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">早上</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期一</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期二</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期三</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期四</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期五</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期六</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期日</h6>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">中午</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期一</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期二</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期三</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;"><input type="radio" name="a" />111/12/15</br><input type="radio"
                    name="a" />111/12/22<br /></h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期五</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期六</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期日</h6>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">晚上</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期一</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期二</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期三</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;"><input type="radio" name="a" />111/12/15</br><input type="radio"
                    name="a" />111/12/22<br /></h6>
            </h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期五</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期六</h6>
        </td>
        <td align="center" colspan="3">
            <h6 style="margin: 10px;">星期日</h6>
        </td>
    </tr>

</table>
<h5>請輸入身分證字號及生日</h5>
<h6>身分證字號：<input></input>&emsp;生日：
    <input type="date"> &emsp;
    <input type="submit" value="提交">

    {% endblock %}

    <!-- 選時間 -->