{% extends "base.html" %}
{% block content %}
<table border="0" width="872" align="center">
    <tr>
        <!-- <td align="center">123</td> -->
        <!-- <td align="center">456</td> -->
        <td align="left" colspan="3">
            <h1 style="margin: 10px;">掛號查詢或取消掛號</h1>
        </td>
    </tr>
    <tr>
        <td align="left">
            <h3 style="margin: 10px;">請輸入身分證字號及生日</h3>
            <h3 style="margin: 10px;">身分證字號：<input></input>&emsp;生日：
                <input type="date"> &emsp;
                <input type="submit" value="提交">
        </td>
    </tr>

</table>
{% endblock %}